<p id="notice"><%= notice %></p>


<%= form_tag products_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div class="row">
  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1 class="text-center text-secondary">Bienvenidos</h1>
  </div>


  <div class="row">
    <% @products.each do |product| %>
    <div class="col-sm-4">

      <div class="thumbnail">

        <figure>

        </figure>


        <div class="caption text-center">

          <h3><%= image_tag product.picture.variant(resize: "200x200") %></h3>

          <h3>  <%= product.name %></h3>

          <h3><%= product.description %></h3>


          <p><small><%= time_ago_in_words(product.created_at) %> ago</small></p>
          <%= link_to 'Ver Producto', product, class: "btn btn-warning"  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
