<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1 class="text-center text-secondary">Mis Productos Publicados</h1>
  </div>

  <div class="row">
    <% @publications.each do |product| %>
      <% if user_signed_in? && (current_user.id == product.user_id) %>
    <div class="col-sm-4 my-5">
      <div class="thumbnail">
        <div class="caption text-center">
          <h3>  <%= product.name %></h3>
          <h3 style="text-align: justify;"><%= product.description %></h3>
          <h5><%= image_tag product.picture.variant(resize: "200x200") %></h5>
          <p><small><%= time_ago_in_words(product.created_at) %> ago</small></p>
          <%= link_to 'Editar', edit_product_path(product), class: "btn btn-success" %>
          <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="text-letf">
  </div>
  </div>
