<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1 class="text-center text-secondary">Mis Productos Reservados</h1>
  </div>


  <div class="row my-5">
    <% @products.each do |product| %>
    <%  if product.enabled == false && product.reserved == current_user.id%>
    <div class="col-sm-4">

      <div class="thumbnail">
       <div class="caption text-center">
          <%= image_tag product.picture.variant(resize: "200x200") %>
          <div class="caption text-center">
            <h3>  <%= product.name %></h3>
            <h5 style="text-align:justify;"><%= product.description %></h5>
            <p><small><%= time_ago_in_words(product.created_at) %> ago</small></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
