<div class="text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= @product.enabled %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= @product.picture %>
  </p>
  <%= link_to 'Reservar Producto', products_set_aside_path(@product), class: "btn btn-warning"  %>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-success" %> |
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>

  <div id="comments">
        <h2><%= @product.comment.count %> Comments</h2>
        <%= render @product.comment %>
        <h3> Join Discussion:</h3>
        <%= render "comments/form" %>
    </div>
</div>
