<div class="text-center">
  <p id="notice"><%= notice %></p>
<div class="publication">
  <div class="card" style="width: 40rem;">
  <%= image_tag @product.picture.variant(resize: "200x200") %>
    <div class="card-body">
      <h5 class="card-title"><%= @product.name %></h5>
      <p class="card-text"><%= @product.description %></p>
      <p class="card-text"><%= @product.enabled %></p>
      <%= link_to 'Reservar Producto', products_set_aside_path(@product), class: "btn btn-success"  %>
      <% if current_user.id == @product.user_id %>
        <%= link_to 'Editar', edit_product_path(@product),class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>
</div>
<br>
<div class="container mx-auto d-flex my-4">
  <div class="border-bottom w-100"></div>
</div>
<br>
<div id="comments" class="container">
        <h2><%= @product.comment.count %> Comments</h2>
        <%= render @product.comment %>
        <h3 class="my-5"> Join Discussion:</h3>
        <%= render "comments/form" %>
</div>

